@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.header {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    width: 100vw;
    height: auto;
    font-family: 'DM Serif Display', serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .5rem;
}

.nav-menu,
.hamburger.active,
.close,
.navbar-list {
    display: none;
}

.hamburger,
.close.active {
    display: flex;
    width: 10%;
    justify-content: flex-end;
}

.nav-menu.active {
    width: 100%;
    height: 70vh;
    background-color: hsl(270, 9%, 17%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}

.nav-item {
    list-style-type: none;
    padding: 1rem 2rem;
}

li:nth-child(4) {
    border: 2px solid hsl(0, 0%, 98%);
}

.nav-item {
    text-align: center;
}

.nav-item a {
    color: hsl(0, 0%, 98%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
}

.nav-pattern {
    position: absolute;
    bottom: 0;
    left: 0;
}

@media only screen and (min-width: 768px) {
    .nav-pattern {
        width: 100%;
        height: 40%;
    }
}

@media only screen and (min-width: 992px) {
    .navbar-list {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav-item:nth-child(4) {
        border: 2px solid hsl(270, 9%, 17%);
    }
    .nav-item a {
        color: hsl(270, 9%, 17%);
    }
    .hamburger,
    .hamburger-icon,
    .close,
    .close-icon,
    .nav-menu,
    .nav-menu.active,
    .nav-pattern {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    .navbar {
        padding: 1rem 2rem;
    }
}