@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.navbar {
    width: 100vw;
    height: auto;
    font-family: 'DM Serif Display', serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.nav-menu,
.hamburger.active,
.close {
    display: none;
}

.hamburger,
.close.active {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-menu.active {
    width: 100%;
    height: 70vh;
    background-color: hsl(270, 9%, 17%);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 2rem;
}

.nav-item {
    list-style-type: none;
    padding: 1rem 2rem;
}

.nav-item:hover {
    border: 2px solid hsl(0, 0%, 98%);
}

.nav-item a {
    color: hsl(0, 0%, 98%);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1.1px;
}

.bg-img {
    width: 100vw;
    height: 100%;
    background-image: url(../../images/bg-pattern-mobile-nav.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}