.footer-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-content {
    width: 80%;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem 0;
    border-bottom: 1px solid lightgrey;
}

.logo,
.icon-content {
    padding-bottom: 1rem;
}

.icon-content img {
    margin: 0 1rem;
}

.text-content {
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
}

.text-content h5:nth-child(1) {
    color: grey;
    margin: 1rem 0;
    font-weight: 600;
}

.text-content h5 {
    padding: .3rem 0;
}

.attribution {
    margin-top: 2rem;
    text-align: center;
    font-size: .7rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media only screen and (min-width:992px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0 5rem;
        margin: 0;
    }
    .logo-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: none;
    }
    .text-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 20%;
        text-align: left;
    }
    .attribution {
        width: 100%;
        margin: 2rem 0;
        text-align: center;
        font-size: .7rem;
    }
}