@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body,
.App {
    width: 100vw;
    height: auto;
    font-family: 'Karla', sans-serif;
}